

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 32px;
    
    background-color: #ffffff;
}

.logo-empresa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 9px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#3A404E;
    font-size: 18px;
}

.header-espaco {
    width: 144px;
    height: 20px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 2px 0;
    width: 362px;
    gap: 20px;


    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);

}

.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.container-buttons a {
    padding: 10px 10px;
    color:var(--text-color);
}

.container-buttons .cadastra {

    color: #fff;
    background-color: var(--main-color);
    border: 1px solid;
    border-radius: 8px;

}

a:hover {
    cursor: pointer;
}

main {
    width: 100%;
}

article {
    width: 100%;
    height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

article span {
    color: var(--main-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

article .container h2 {
    color: #101828;
    font-size: 48px;
    font-weight: 600;
}

article .descricao {
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
}


.metricas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.metricas div {
    width: 280px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.metricas h3 {
    font-weight: 600;
    font-size: 60px;
    color:#8E2424;
}

.metricas span {
    font-weight: 500;
    color:#101828;
    font-size: 18px;
}

.metricas p {
    font-weight: 400;
    font-size: 16px;
    color:#667085;
    text-align: start;
    width: 260px;
}
